<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- 각 Dto들을 잡아주면된다. -->
	<typeAliases>
	
		<typeAlias type="kh.coupon.mvc.dto.MemberDto" alias="MemberDto"/>
		<typeAlias type="kh.coupon.mvc.dto.ClientDto" alias="ClientDto"/>
		
	
	</typeAliases>
		
	<mappers>
		<mapper resource="/sqls/home_mapper.xml"/>
		<mapper resource="/sqls/user_mapper.xml"/>
		<mapper resource="/sqls/academy_mapper.xml"/>
		<mapper resource="/sqls/client_mapper.xml"/>
	</mappers>
</configuration>
