<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="client">

	<insert id="client_insert" parameterType="ClientDto">
		INSERT INTO client VALUES (client_no_seq.NEXTVAL, #{member_no}, #{client_name_store},#{client_phone_store},#{client_address},#{client_registration}, #{client_max_client},#{client_reservation})	
	</insert>
	
	<select id="client_selectone" parameterType="int" resultType="ClientDto">
		SELECT * FROM client WHERE member_no = #{member_no}
	</select>

</mapper>
